# reference: https://www.appveyor.com/docs/appveyor-yml/

version: 0.3.{build}

# build all branches by default

image: Visual Studio 2019
platform: x64
configuration: Release

clone_folder: c:\projects\onnx
clone_depth: 2

# pick as per https://www.appveyor.com/docs/build-environment/#python
environment:
  global:
    ONNX_NAMESPACE: ONNX_NAMESPACE_FOO_BAR_FOR_CI

  matrix:
  #- CONDA_PREFIX: C:\Miniconda35-x64
  #  ONNX_VERIFY_PROTO3: 1

  #- CONDA_PREFIX: C:\Miniconda36-x64
  #  ONNX_VERIFY_PROTO3: 1

  # - CONDA_PREFIX: C:\Miniconda36

  # - CONDA_PREFIX: C:\Miniconda35

  #- CONDA_PREFIX: C:\Miniconda37-x64
  - CONDA_PREFIX: C:\Miniconda39-x64

  # - CONDA_PREFIX: C:\Miniconda37

install:
- cmd: git submodule update --init --recursive

before_build:
#TODO:We should put libprotobuf.dll within onnx's package.
#Then we don't need to add %CONDA_PREFIX%\Library\bin at here
- cmd: SET PATH=%CONDA_PREFIX%;%CONDA_PREFIX%\Scripts;%CONDA_PREFIX%\Library\bin;%PATH%
- cmd: SET _prefix=%CONDA_PREFIX:~0,14%
- cmd: SET _arch=%CONDA_PREFIX:~15,18%
- set "PATH=%PATH%;%CONDA_PREFIX%\Library\bin"
- cmd: conda install -y libprotobuf=3.14.0 protobuf=3.14.0 numpy
- cmd: pip install --quiet pytest nbval numpy

build_script:
# Build and test onnx.
- cmd: cd c:\projects\onnx
- cmd: set ONNX_BUILD_TESTS=1
- cmd: set ONNX_ML=1
- cmd: set ONNX_VERIFY_PROTO_3=0
- cmd: set USE_MSVC_STATIC_RUNTIME=0
- cmd: set CMAKE_ARGS=-DONNX_USE_PROTOBUF_SHARED_LIBS=OFF -DProtobuf_USE_STATIC_LIBS=ON -DONNX_USE_LITE_PROTO=ON -DONNX_WERROR=ON
- cmd: SET

- cmd: python setup.py --quiet install
- cmd: pytest
- cmd: python onnx/defs/gen_doc.py
- cmd: python onnx/gen_proto.py -l
- cmd: python onnx/gen_proto.py -l --ml
# - cmd: rm -rf .setuptools-cmake-build
- cmd: python setup.py build_ext --inplace

- cmd: git diff --exit-code  -- . :(exclude)onnx/onnx-data.proto :(exclude)onnx/onnx-data.proto3
# - cmd: pip install --quiet -e .[mypy]
- cmd: python setup.py --quiet bdist_wheel --dist-dir . --verbose --verbose --verbose
- cmd: 7z a onnx.zip onnx

artifacts:
  - path: '*.whl'
    name: onnxwhl
  - path: '*.zip'
    name: onnxzip
  - path: 'onnx'
    name: onnxzip2
    type: zip
